
/* Members Page  */
.edit-form {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 350px;
  animation: fadeIn 0.6s ease-in-out;
  margin: 20px auto;
  margin-left: 150px;
   padding: 20px;
    transition: all var(--main-transition);
}

.edit-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #6c63ff;
  outline: none;
}

.btn-save {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-save:hover {
  background: #574b90;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: var(--main-darker-blue);
  color: white;
}

th, td, tr {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid var(--main-darker-blue);
}
tr td:first-child {
  background-color: var(--main-darker-blue);
  color: white;
}
button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.edit {
  background-color: #28a745;
  color: white;
  margin-right: 5px;
}

.delete {
  background-color: #dc3545;
  color: white;
}

.add-member {
  background-color: #007bff;
  color: white;
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
}